.typewriter-text {
   //border-right: 2.2px solid #fe5186;
   white-space: nowrap;
   overflow: hidden;
   text-decoration-line: none;
   padding: 0.3px;
   font-family: "Lora", 'Inter UI Medium';
   animation: blink 0.9s steps(44) infinite normal;
   //typewriter 2s steps(22) 1s 1 normal both, 
}


@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    from {
        //border-right-color: #fe5186;
        border-right-color: opacity($color: #000000);
    }

    to {
        border-right-color: transparent;
    }
}